.faq-section {
  background-color: #f8f8f8;
  border-radius: 60px;
  overflow: hidden;
  padding-bottom: 200px;

  @include responsive767 {
    padding-bottom: 160px;
  }

  .faq-list {
    margin-top: 47px;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .faq-item {
    padding: 28px 46px;
    border: solid 1px $colorBlack;
    background-color: $colorWhite;
    border-radius: 30px;
    position: relative;

    @include responsive1549 {
      padding: 24px;
    }

    @include responsive767 {
      padding: 24px 12px;
    }
  }

  .faq-section__quest {
    cursor: pointer;
    font-weight: 400;
    font-size: 25px;
    line-height: 65px;
    text-transform: uppercase;
    position: relative;
    width: 100%;
    display: block;
    padding-right: 80px;

    @include responsive1549 {
      font-size: 22px;
      line-height: 33px;
    }

    @include responsive1023 {
      font-size: 18px;
      line-height: 24px;
    }

    @include responsive767 {
      font-size: 12px;
      line-height: 18px;
    }

    @include before {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12 0.730248L6.62593 7L1.25185 0.730248' stroke='%23212121' stroke-width='2'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: solid 1px $colorBlack;
      position: absolute;
      right: 12px;
      top: 8px;

      @include responsive1549 {
        top: -7px;
      }

      @include responsive1023 {
        top: -13px;
      }

      @include responsive767 {
        top: 50%;
        transform: translateY(-50%);
        width: 32px;
        height: 32px;
        background-size: 10px;
        right: 0;
      }
    }

    &.active {
      &::before {
        transform: rotate(-180deg);

        @include responsive767 {
          transform: translateY(-50%) rotate(-180deg);
        }
      }
    }
  }

  .faq-section__answer {
    display: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #8e8e8e;
    padding: 20px 0;

    @include responsive1023 {
      font-size: 14px;
      line-height: 18px;
    }

    p {
      & + p {
        margin-top: 20px;
      }
    }
  }
}
